.Wrap {}

.top_banner {
    background: #f7f7f7;
    padding: 30px 0;
}

.top_banner .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.top_banner h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 31px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.top_banner p {
    font-size: 15px;
    font-weight: 300;
}


.top_banner i {
    position: absolute;
    top: 0;
    right: 0;
}

.top_banner a {
    margin: 0 0 0 20px;
    padding: 0 15px 6px 15px;
    background: #333;
    color: #fff;
}

.header {
    border-bottom: 1px #ddd;
}

.header .container {
    display: flex;
    /* justify-content: space-between; */
    width: 1200px;
    margin: 0 auto;

    line-height: 100px;
}

.header nav {
    margin: 0 0 0 auto;
}

.header nav ul {
    display: flex;
    gap: 40px;
}

.header nav ul li {
    position: relative;
}


.header nav ul li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 2px;
    height: 13px;
    background: #ddd;
    transform: translateY(-50%);
}




#searchform {
    margin: 0 0 0 40px;
}


#searchform input[type="search"] {
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    padding: 3px 0;
    color: red;
    width: 150;
}


#searchform button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
}

.main_slider figure {
    position: relative;
    height: 600px;
    color: #fff;
}


.main_visual {
    position: relative;
}

.main_slider .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.main_slider .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.main_slider .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_slider figure .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    transform: translate(-50%, -50%);

}

.main_slider figure .container h3 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px 0;
    opacity: 0;
    transform: translateY(100px);


}

.main_slider figure.xxx .container h3 {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}


.main_slider figure .container p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 20px 0;
    opacity: 0;
    transform: translateY(100px);
}

.main_slider figure.xxx .container p {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s 0.5s;
}

.main_slider figure .container a {
    display: inline-block;
    padding: 5px 30px;
    background: #333;
    color: #fff;
    border: 1px solid #f00;
    opacity: 0;
    transform: translateY(100px);
}

.main_slider figure.xxx .container a {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s 1s;
}

.main_slider .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.main_slider .slick-dots button {
    display: none;
}

.main_slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 5px;
    background: #333;
    margin: 0 3px;
}

/*.main_slider .slick-dots li.slick-active {
    background: #f00;
}*/

.main_slider .slick-dots li::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    background: #f00;
    width: 0;
    height: 100%;

}

.main_slider .slick-dots li.slick-active::after {
    width: 100%;
    transition: 4s;
}

.main_slider .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    font-size: 0;
    width: 100px;
    height: 100px;
    border: none;
    background: transparent;
    border-top: 1px solid #fff;
    border-left: 1px solid#fff;

}

.main_slider .slick-prev {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.main_slider .slick-next {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg);
}

.main_visual .num {
    position: absolute;
    top: 50px;
    left: 50%;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0 0 3px #000;
    color: #fff;
    margin: 0 0 0 600px;
    transform: translateX(-100%);
}

.main_content {
    padding: 100px 0;
    text-align: center;
}

.main_content h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.main_content p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.main_content .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.main_content .container figure {
    flex: 1;
    overflow: hidden;
}

.main_content .container .box {
    margin: 0 0 20px 0;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    overflow: hidden;
}

.main_content .container img {
    margin: 0 0 20px 0;
}

.main_content .container figure:hover img {
    transform: scale(1.5);
    transition: 0.5s;
}

/* 이미지 아래 글 공간 띄우기*/
.main_content .container strong {
    display: block;
    margin: 0 0 20px 0;
}

.main_content .container a {
    display: inline-block;
    padding: 5px 20px;
    background: #333;
    color: #fff;
    border: 1px solid #f00;
}

.flxed_bg {
    padding: 150px 0;
    background: url(../img/mainvisual01.jpg) no-repeat fixed center center/cover;
    filter: grayscale(1);
    color: #fff;
    text-align: center;
}

.flxed_bg h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.flxed_bg p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.flxed_bg i {
    font-size: 20px;
    padding: 10px;
    background: #333;
    border-radius: 50%;
    margin: 0 0 0 10px;
    vertical-align: middle;
}